In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

#for i in range(1,114): #there are 113 pages

    #req = requests.post(f'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page={i}')
    #page_html = req.content
    #page_soup = soup(page_html, "html.parser")
    #containers = page_soup.findAll("table",{"class":"table table-responsive table-bordered"})
#containers = containers.append()
    #print(f'Found {len(containers)} tables on page {i}')

In [2]:
#result_list = pd.read_html(str(containers[0])) # a list of dataframes
#len(result_list)

In [3]:
#type(result_list)

In [4]:
#marathon_2019 = result_list[0]  # get the first df from the list
#marathon_2019.tail()

In [5]:
#final_list = []
#url_list = {page:"https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page={}".format(page) for page in list(range(1, 114))}
#for url in range(1,114):
    #response = requests.post(url_list[url])
    #soup = BeautifulSoup(response.content, 'lxml')
    #tables = soup.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
    #response = pd.read_html(str(tables[0]))
    #final_list.append(response)
#print(final_list)

In [6]:
pgs_2016 = 154
pgs_2017 = 147
pgs_2018 = 85
pgs_2019 = 113
pgs_half_2016 = 898
pgs_half_2017 = 892
pgs_half_2018 = 598
pgs_half_2019 = 690

In [7]:
urlbase_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='

In [8]:
def marathon(url, pages):
    final_list = []
    df = pd.DataFrame()
    for p in range(1, pages + 1): # pages + 1 because range stops at the last number
        response = requests.post(url + str(p)) # Goes to URL and adds p to end of it to select page.
        soup = BeautifulSoup(response.content, 'lxml')
        tables = soup.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
        result_list = pd.read_html(str(tables[0]))
        final_list = result_list[0]
        df = df.append(final_list, ignore_index = True)
    return df

In [9]:
full_2016 = marathon(urlbase_2016, pgs_2016)
full_2016.head()

   Overall   Bib               Name      Time
0        1     1     Scott Wietecha  02:25:42
1        2     3      Brian Shelton  02:34:43
2        3  1047  Christopher Capps  02:38:43
3        4  1052       Jason Grimes  02:45:06
4        5  1046        David Adams  02:47:28

In [10]:
full_2016.shape

(3842, 4)

In [11]:
full_2017 = marathon(urlbase_2017, pgs_2017)
full_2017.head()

   Overall   Bib            Name      Time
0        1     1  Scott Wietecha  02:40:25
1        2  1145    Ryan Regnier  02:56:28
2        3  1147  Daniel Everett  03:00:55
3        4  1029   Khris Vickroy  03:04:47
4        5  1119  Marcus Dilallo  03:04:53

In [15]:
full_2017.shape

(3651, 4)

In [16]:
full_2018 = marathon(urlbase_2018, pgs_2018)
full_2018.head()

   Overall    Bib             Name      Time
0        1      1   Scott Wietecha  02:28:16
1        2      3     Garang Madut  02:29:52
2        3  33442       Kevin Fink  02:38:59
3        4  33441    Andrew Hodges  02:43:59
4        5  30028  Nicholas Aubert  02:48:11

In [17]:
full_2018.shape

(2115, 4)

In [18]:
full_2019 = marathon(urlbase_2019, pgs_2019)
full_2019.head()

   Overall    Bib            Name      Time
0        1  30001  Travis Peruski  01:37:54
1        2      1  Scott Wietecha  02:34:59
2        3      4   Jordan Wilson  02:35:24
3        4  30034  Steelton Flynn  02:39:59
4        5  30035    Thomas Ellis  02:42:09

In [19]:
full_2019.shape

(2811, 4)

In [20]:
half_2016 = marathon(urlbase_half_2016, pgs_half_2016)
half_2016.head()

   Overall   Bib            Name      Time
0        1   201  Roosevelt Cook  01:11:15
1        2   204     Bill Martin  01:11:50
2        3  1623    Cody Hodgins  01:13:43
3        4  1222   Andrew Archer  01:15:04
4        5  1224    Brian Syring  01:15:30

In [21]:
half_2016.shape

(22429, 4)

In [22]:
half_2017 = marathon(urlbase_half_2017, pgs_half_2017)
half_2017.head()

   Overall   Bib            Name      Time
0        1   202   Tyler Andrews  01:10:58
1        2   204     Bill Martin  01:11:25
2        3   206     Nick French  01:11:42
3        4   201  Roosevelt Cook  01:13:20
4        5  1655     Erick Kigen  01:14:56

In [23]:
half_2017.shape

(22292, 4)

In [25]:
half_2018 = marathon(urlbase_half_2018, pgs_half_2018)
half_2018.head()

   Overall  Bib            Name      Time
0        1  103  Roosevelt Cook  01:09:25
1        2  107    Lucas Cotter  01:09:51
2        3  105     Nick French  01:10:38
3        4  106    Jason Vincze  01:11:50
4        5  104   Joseph Elsakr  01:13:28

In [26]:
half_2018.shape

(14940, 4)

In [27]:
half_2019 = marathon(urlbase_half_2019, pgs_half_2019)
half_2019.head()

   Overall   Bib           Name      Time
0        1    31    Nick French  01:10:03
1        2    33   Ian Bordelon  01:12:15
2        3    32  Chris Demetra  01:12:52
3        4  1025   Grayson Reid  01:15:10
4        5    34   Jason Vincze  01:17:01

In [28]:
half_2019.shape

(17236, 4)

In [1]:
full_2016.to_csv('../data/full_2016.csv', index=False)
full_2017.to_csv('../data/full_2017.csv', index=False)
full_2018.to_csv('../data/full_2018.csv', index=False)
full_2019.to_csv('../data/full_2019.csv', index=False)
half_2016.to_csv('../data/half_2016.csv', index=False)
half_2017.to_csv('../data/half_2017.csv', index=False)
half_2018.to_csv('../data/half_2018.csv', index=False)
half_2019.to_csv('../data/half_2019.csv', index=False)

NameError: name 'full_2016' is not defined